<html>
  <head>
    <title>Flask-AWS Home Value</title>
    <!-- Bootstrap core CSS -->
    <!--link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/starter-template.css') }}">
    <!--link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" /-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    {% block content %} {% endblock %}
    
  </body>
</html>  
