{% extends "base.html" %} {% import 'macros.html' as macros %} 
{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--style type="text/css">
      body {
        background: #000000 !important;
      } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style-->
    <title>Home Value</title>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Home Value</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="visualization">Visualization</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link disabled" href="prediction">Prediction</a>
          </li>

        </ul>
      </div>
    </nav>



    <main role="main" class="container">
      <div class="starter-template" style="margin-top:5px">
        <h1>Home Value Prediction</h1>
        <p class="lead">Welcome to the Home Value Prediction System!  This web application provides a visualization of the historical home value in a given region and make estimations of future home value using time series analysis.    The prediction model is built on Zillow Research data.  Please use the navigation bar to explore the application.</p>
      </div>
      <img src="{{ url_for('static', filename='images/bg1.png') }}" class="img-fluid" style="margin-top:90px" alt="Responsive image">
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!--script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-slim.min.js"><\/script>')</script-->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <!--script src="dist/js/bootstrap.min.js"></script-->
  </body>
</html>

{% endblock %}  
