body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top .nav-link {
  color: white;
  font-weight:bold;
}

.dropdown .btn.btn-primary.dropdown-toggle {
	width: 193px;
	color: grey;
	background-color: white;
	border-color: lightgrey;
}

.form-inline.my-2.my-lg-0 > * {
   margin:5px 3px;
}
